/*------------- #Broadcast --------------*/

.iphone-x {
  position: relative;
  margin: 40px auto;
  width: 350px;
  height: 780px;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 11px #2C2E3E, 0px 0px 0px 10px #191919, 0px 0px 0px 10px #111;
  
  &:before,
  &:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  // home button indicator
  &:after {
    bottom: 7px;
    width: 140px;
    height: 4px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  // frontal camera/speaker frame
  &:before {
    top: 0px;
    width: 52%;
    height: 28px;
    background-color: #2C2E3E;
    border-radius: 0px 0px 40px 40px;
  }
}